<%= form_with(model: configuration_item_relationship) do |form| %>
  <% if configuration_item_relationship.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(configuration_item_relationship.errors.count, "error") %> prohibited this configuration_item_relationship from being saved:</h2>

      <ul>
        <% configuration_item_relationship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :source_configuration_item_id, style: "display: block" %>
    <%= form.text_field :source_configuration_item_id %>
  </div>

  <div>
    <%= form.label :target_configuration_item_id, style: "display: block" %>
    <%= form.text_field :target_configuration_item_id %>
  </div>

  <div>
    <%= form.label :relationship_type_id, style: "display: block" %>
    <%= form.collection_select :relationship_type_id, RelationshipType.where(active: true).order(:name), :id, :name, { prompt: "Select relationship type" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
