<p style="color: green"><%= notice %></p>

<%= render @item_status %>

<div>
  <%= link_to "Edit this item status", edit_item_status_path(@item_status) %> |
  <%= link_to "Back to item statuses", item_statuses_path %>

  <%= button_to "Destroy this item status", @item_status, method: :delete %>
</div>
