<div id="<%= dom_id configuration_item %>">
  <div>
    <strong>Name:</strong>
    <%= configuration_item.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= configuration_item.description %>
  </div>

  <div>
    <strong>Item type:</strong>
    <%= configuration_item.item_type_id %>
  </div>

  <div>
    <strong>Item status:</strong>
    <%= configuration_item.item_status_id %>
  </div>

  <div>
    <strong>Item environment:</strong>
    <%= configuration_item.item_environment_id %>
  </div>

</div>
