<p style="color: green"><%= notice %></p>

<%= render @configuration_item %>

<div>
  <%= link_to "Edit this configuration item", edit_configuration_item_path(@configuration_item) %> |
  <%= link_to "Back to configuration items", configuration_items_path %>

  <%= button_to "Destroy this configuration item", @configuration_item, method: :delete %>
</div>
