<p style="color: green"><%= notice %></p>

<%= render @relationship_type %>

<div>
  <%= link_to "Edit this relationship type", edit_relationship_type_path(@relationship_type) %> |
  <%= link_to "Back to relationship types", relationship_types_path %>

  <%= button_to "Destroy this relationship type", @relationship_type, method: :delete %>
</div>
